.nav-adj {
    max-width: 1240px;
    margin: 0 auto;
}

.nav-item {
    margin-left: 50px;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .carousel-inner {
        height: 400px;
    }

    .carousel-item {
        img {
            position: absolute;
            top: -150px;
        }
    }

    .carousel-caption {
        top: 270px;
    }

    .navbar-collapse {
        position: absolute;
        right: 20px;
    }
}

.carousel-caption {
    text-shadow: 0 0 8px black;
}

.services {
    i.fas {
        margin-right: 10px;
    }
}

@media (max-width: 768px) {
    .hide-mobile {
        display: none;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}